/CommitComment.class
/GitlabAbstractMember.class
/GitlabAccessLevel.class
/GitlabAward.class
/GitlabBranch.class
/GitlabBranchCommit.class
/GitlabBuild.class
/GitlabBuildVariable.class
/GitlabCommit.class
/GitlabCommitComparison.class
/GitlabCommitDiff.class
/GitlabCommitStatus.class
/GitlabEmailonPushProperties.class
/GitlabGroup.class
/GitlabGroupMember.class
/GitlabIssue$Action.class
/GitlabIssue.class
/GitlabLabel.class
/GitlabMergeRequest.class
/GitlabMilestone.class
/GitlabNamespace.class
/GitlabNote.class
/GitlabPermission.class
/GitlabProject.class
/GitlabProjectAccessLevel.class
/GitlabProjectHook.class
/GitlabProjectMember.class
/GitlabProjectSharedGroup.class
/GitlabRelease.class
/GitlabRepositoryFile.class
/GitlabRepositoryTree.class
/GitlabRunner.class
/GitlabSSHKey.class
/GitlabServiceEmailOnPush.class
/GitlabSession.class
/GitlabSystemHook.class
/GitlabTag.class
/GitlabTrigger.class
/GitlabUpload.class
/GitlabUser.class
/GitlabUserIdentity.class
/GitlabVersion.class
/GitlabGroupTest.class
/GitlabCommitStatistics.class
