/GitlabHTTPRequestor$METHOD.class
/GitlabHTTPRequestor.class
/Query$Tuple.class
/Query.class
/GitlabHTTPRequestorTest.class
/QueryTest.class
/GitlabHTTPRequestor$1.class
/GitlabHTTPRequestor$2.class
/GitlabHTTPRequestor$3.class
